#pageone {
  background-color: black;
  color: red;
  font-family: cursive;
}
#name {
  display: block;
  background-color: white;
  color: red;
  width: 20%;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  text-align: center;
  margin: auto;
}
#infobox {
  display: block;
  background-color: white;
  color: red;
  width: 30%;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  text-align: center;
  margin: auto;
}
#pagetwo {
  background-color: #034694;
  font-family: Arial;
  color: #fff
}
#pagethree {
  background-color: #D6E9F5;
  font-family: Arial;
  color: #A24F0B;
}
#pagefour {
  background-color: #341A04;
  font-family: Arial;
  color: #341A04;
}
nav#pageonenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
nav#pageonenav ul li {
  float: left;
  margin: 0;
  position: relative;
  left: 28%;
  right: 50%;
}
nav#pageonenav ul li a {
  display: block;
  background-color: #fff;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 100px;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}
nav#pagetwonav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
nav#pagetwonav ul li {
  float: left;
  margin: 0 15px;
  position: relative;
  left: 24%;
  right: 50%;
}
nav#pagetwonav ul li a {
  display: block;
  background-color: white;
  color: #034694;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 100px;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}
nav#pagethreenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
nav#pagethreenav ul li {
  float: left;
  margin: 0 15px;
  position: relative;
  left: 24%;
  right: 50%;
}
nav#pagethreenav ul li a {
  display: block;
  background-color: #F7F7F8;
  color: #A24F0B;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 100px;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}
nav#pagefournav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
nav#pagefournav ul li {
  float: left;
  margin: 0;
  position: relative;
  left: 28%;
  right: 50%;
}
nav#pagefournav ul li a {
  display: block;
  background-color: #E9F7F9;
  color: #341A04;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width: 100px;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}
#box2 { /* CHELSEA FC HEADING */
  display: block;
  background-color: white;
  color: #034694;
  width: 15%;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.box3 { /* ROMANIA HEADING */
  display: block;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 250px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
/*
#romaniamap {
  width: 350px;
  float: right;
  margin-right: 10px;
}
*/
.para1-pg3 { /* WWI (Romania Page) */
  display: block;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 750px;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
  text-align: left;
  margin-left: 10px;
}
.para2-pg3 { /* Greater Romania (Romania Page) */
  display: block;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 50%;
  padding: 5px 10px 5px 5px;
  border-radius: 4px;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
}
.para3-pg3 { /* WWII (Romania Page) */
  display: block;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 50%;
  padding: 5px 0px 5px 0px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.para4-pg3 { /* Culture (Romania Page) */
  display: block;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 55%;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
  text-align: left;
  margin-left: 10px;
}
#badge {
  width: 200px;
  margin-left: 43%;
}
#para1-pg2 { /* General Info (Chelsea Page) */
  display: block;
  background-color: white;
  color: #034694;
  width: 25em;
  padding: 5px 10px 5px 0px;
  border-radius: 4px;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 1em;
}
#para2-pg2 { /* Training Ground (Chelsea Page) */
  display: block;
  background-color: white;
  color: #034694;
  width: 30%;
  padding: .5% .5% .5% .5%;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#stadium {
  position: absolute;
  margin-left: 10px;
  margin-bottom: 1em;
}
#para3-pg2 { /* Mascot Policy (Chelsea Page) */
  display: block;
  background-color: white;
  color: #034694;
  width: 500px;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
  text-align: left;
  margin-top: 3em;
  margin-left: 10px;
}
#video { /* Video (Chelsea Page) */
  display: block;
  margin-left: auto;
  width: 600px;
  height: 400px;
  margin-right: 10px;
}
.hr {
  width: 100%;
}
#summary {
  display: block;
  background-color: white;
  width: 100%;
  padding: .3% 0% .3% 1%;
  border-radius: 4px;
  text-align: left;
  margin: auto;
}
#education {
  display: block;
  background-color: white;
  width: 100%;
  padding: .3% 0% .3% 1%;
  border-radius: 5px;
  text-align: left;
  margin: auto;
}
#skills {
  display: block;
  background-color: white;
  width: 100%;
  padding: .3% 0% .3% 1%;
  border-radius: 5px;
  text-align: left;
  margin: auto;
}
#experience {
  display: block;
  background-color: white;
  width: 100%;
  padding: .3% 0% .3% 1%;
  border-radius: 5px;
  text-align: left;
  margin: auto;
}
#activities {
  display: block;
  background-color: white;
  width: 100%;
  padding: .3% 0% .3% 1%;
  border-radius: 5px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}
#CHElink {
  color: white;
  text-decoration: none;
}
#History {
  color: #A24F0B;
  text-decoration: none;
}
#Culture {
  color: #A24F0B;
  text-decoration: none;
}
.sources{
  margin-left: 10px;
}
#map {
  height: 500px;
  width: 500px;
  float: right;
  margin: 50px 10px 10px 10px;
}
@media only screen and (min-width: 800px) {
  #pageone {
    background-color: lightpink;
    font-family: "Times New Roman";
    color: lightsalmon;
  }
  #activities {
    display: block;
    background-color: lightgreen;
    width: 90%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  #experience {
    display: block;
    background-color: lightgreen;
    width: 90%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #skills {
    display: block;
    background-color: lightgreen;
    width: 90%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #education {
    display: block;
    background-color: lightgreen;
    width: 90%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #summary {
    display: block;
    background-color: lightgreen;
    width: 90%;
    padding: .3% 0% .3% 1%;
    border-radius: 4px;
    text-align: left;
    margin: auto;
  }
  #name { /* PAGE ONE NAME BOX */
    display: block;
    background-color: lightgreen;
    color: lightsalmon;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
  }
  #infobox {
    display: block;
    background-color: lightgreen;
    color: lightsalmon;
    width: 30%;
    padding: 10px 0px 8px 0px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (min-width: 1100px) {
  #pageone {
    background-color: #ADD2EB;
    font-family: Arial;
    color: #1D5962;
  }
  #activities {
    display: block;
    background-color: #EBF4FA;
    width: 76.5%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  #experience {
    display: block;
    background-color: #EBF4FA;
    width: 76.5%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #skills {
    display: block;
    background-color: #EBF4FA;
    width: 76.5%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #education {
    display: block;
    background-color: #EBF4FA;
    width: 76.5%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: left;
    margin: auto;
  }
  #summary {
    display: block;
    background-color: #EBF4FA;
    width: 76.5%;
    padding: .3% 0% .3% 1%;
    border-radius: 4px;
    text-align: left;
    margin: auto;
  }
  #name { /* PAGE ONE NAME BOX */
    display: block;
    background-color: #EBF4FA;
    color: #1D5962;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
  }
  #infobox {
    display: block;
    background-color: #EBF4FA;
    color: #1D5962;
    width: 30%;
    padding: 10px 0px 8px 0px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  float: right;
  margin-right: 10px;
  margin-top: 65px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -2px;
  padding: 15px;
  color: #A24F0B;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(214, 233, 245, .65);
}
#ArrowTextBox {
  float: right;
  background-color: #D6E9F5;
  color: #A24F0B;
  width: 10%;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
  text-align: right;
  margin: 5px 5px 5px 5px;
}
